[submodule "hardware/openRiverSense/JLCPCB-Kicad-Library"]
	path = hardware/openRiverSense/JLCPCB-Kicad-Library
	url = https://github.com/CDFER/JLCPCB-Kicad-Library.git
[submodule "hardware/probeDaughterBoard/JLCPCB-Kicad-Library"]
	path = hardware/probeDaughterBoard/JLCPCB-Kicad-Library
	url = https://github.com/CDFER/JLCPCB-Kicad-Library.git